<% if @users.count > 0 %>
	<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th><th>Email</th><th>Type</th><th>Status</th><th>Created at</th><th>Created by</th><th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.full_name %></td>
					<td><%= user.email %></td>
					<td><%= user.user_type.titleize unless user.user_type.blank? %></td>
					<td><%= 'Active' if user.active %>
						<%= 'Inactive' if !user.active %></td>
					<td><%= user.created_at %></td>
					<td><%= user.created_by %></td>
					<td class="text-right">
						<%= link_to "View", user %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>
<% else %>
	<div data-alert class="alert alert-danger up-10">
		<p>Something is really wrong, if there are no users in this account, then who are you???</p>
	</div>
<% end %>
