<%= simple_form_for @user, html: {class: "form-modern"} do |f| %>
	<div class="panel-body">
		<%= f.input :email, required: true %>
		<%= f.input :first_name, required: true %>
		<%= f.input :last_name, required: true %>
		<%= f.input :user_type, collection: MtAccountUsers.mt_account_users_user_type, include_blank: false %>
		<%= f.input :tag_list, input_html: {class: "tags-tokenfield", placeholder: "Type something and hit enter", data: {tokens: @user.tags_from(current_tenant.account)} } %>
		<%# to handle whether to display password or not %>
		<% if @user.new_record? %>
			<%= f.input :password, required: true, hint: "8 characters minimum" %>
			<div class="panel panel-default"><div class="panel-body">
			<%= f.input :password_confirmation, required: true %>
			</div></div>
		<% elsif MtAccountUsers.mt_account_users_admin_edit_password == true || @user == current_user %>
			<%= f.input :password, required: true, hint: "8 characters minimum", input_html: {placeholder: "Leave blank if you do not want to change"} %>
			<div class="panel panel-default"><div class="panel-body">
			<%= f.input :password_confirmation, required: true %>
			</div></div>
		<% end %>
	</div>
	<div class="panel-footer text-right">
		<%= f.button :submit, class: "btn btn-submit btn-sm" %>
		<%= link_to 'Cancel', users_path, class: "btn btn-cancel btn-sm" %>
	</div>
<% end %>