<% content_for :page_title do %>
	<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<% end %>

<% content_for :subnav_section do %>
	<ol class="breadcrumb breadcrumb-modern">
		<li><%= link_to 'Users', users_path %></li>
		<li><%= link_to @user.full_name, @user %></li>
		<li class="active">Edit</li>
	</ol>
<% end %>

<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <ol class="breadcrumb navbar-subnav-breadcrumb left-15 visible-xs-block">
			  <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to @user.full_name, @user %></li>
			  <li><%= link_to "Edit", edit_user_path(@user) %></li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to @user.full_name, @user %></li>
			  <li><%= link_to "Edit", edit_user_path(@user) %></li>
		  </ol>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-modern">
			<div class="panel-heading">
				<h3 class="panel-title">Edit user</h3>
			</div>
			<%= render "panel_form" %>
		</div>
	</div>
</div>