<% content_for :page_title do %>
	<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<% end %>

<% content_for :subnav_section do %>
	<ol class="breadcrumb breadcrumb-modern">
		<li><%= link_to 'Users', users_path %></li>
		<li class="active">All</li>
	</ol>
<% end %>

<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnavbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	      </button>
	      <ol class="breadcrumb navbar-subnav-breadcrumb left-15 visible-xs-block">
			  <li><%= link_to "Users", users_path %></li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><%= link_to "Users", users_path %></li>
		  </ol>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="subnavbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	      	<li><%= link_to "New user", new_user_path %></li>
			<li><%= link_to "Export all", users_path(format: "csv") %></li>
			<li><%= link_to "Import", import_new_users_path %></li>
			<% if current_tenant.account.owned_tags.count > 0 %>
			<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filter <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<li><%= link_to "All", users_path %></li>
			    <li class="divider"></li>
			    <% current_tenant.account.owned_tags.order(name: :asc).each do |tag| %>
			    	<li><%= link_to tag.name, users_path(tag: tag.name) %></li>
			    <% end %>
	          </ul>
	        </li>
	        <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>

<div class="panel panel-modern">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-7">
				<% if params[:tag] %>
					<h3 class="panel-title">Users tagged: <%=params[:tag]%></h3>				
				<% else %>
					<h3 class="panel-title">Users</h3>
				<% end %>
			</div>
			<div class="col-sm-5">
				<% if MtAccountUsers.mt_account_users_panel_action_buttons == true %>
					<div class="text-sm-right">
						<%= link_to "New user", new_user_path, class: "btn btn-new btn-default btn-sm" %>
						<%= link_to "Export all", users_path(format: "csv"), class: "btn btn-default btn-sm" %>
						<%= link_to "Import", import_new_users_path, class: "btn btn-default btn-sm" %>
						<% if current_tenant.account.owned_tags.count > 0 %>
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    Filter <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right" role="menu">
							    <li><%= link_to "All", users_path %></li>
							    <li class="divider"></li>
							    <% current_tenant.account.owned_tags.order(name: :asc).each do |tag| %>
							    	<li><%= link_to tag.name, users_path(tag: tag.name) %></li>
							    <% end %>
							  </ul>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<%= render "grid" %>
	</div>
</div>
