<% content_for :page_title do %>
	<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<% end %>

<% content_for :subnav_section do %>
	<ol class="breadcrumb breadcrumb-modern">
		<li><%= link_to 'Users', users_path %></li>
		<li class="active"><%= @user.full_name %></li>
	</ol>
<% end %>

<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnavbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	      </button>
	      <ol class="breadcrumb navbar-subnav-breadcrumb left-15 visible-xs-block">
			  <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to @user.full_name, @user %></li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to @user.full_name, @user %></li>
		  </ol>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="subnavbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	      	<% if !@user.active && @user != current_user %>
	      		<li><%= link_to "Activate", activate_user_path(@user) %></li>
	      	<% end %>
	      	<% if @user.active && @user != current_user  %>
				<li><%= link_to "Deactivate", deactivate_user_path(@user) %></li>
			<% end %>
			<li><%= link_to "Edit", edit_user_path(@user) %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-modern">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="panel-title"><%= @user.full_name %></h3>
					</div>
					<div class="col-sm-8">
						<div class="text-sm-right">
							<% if MtAccountUsers.mt_account_users_panel_action_buttons == true %>
								<%# activate and deactivate only available on other users %>
								<%= link_to "Activate", activate_user_path(@user), class: "btn btn-success btn-sm" if !@user.active && @user != current_user %>
								<%= link_to "Deactivate", deactivate_user_path(@user), class: "btn btn-warning btn-sm" if @user.active && @user != current_user %>
								<%= link_to "Edit", edit_user_path(@user), class: "btn btn-edit btn-sm" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2 bottom-10">
						<%= avatar @user %>
					</div>
					<div class="col-md-10">
						<table class="table table-striped">
							<tr>
								<td style="width:160px;"><b>Email</b></td>
								<td><%= @user.email %></td>
							</tr>
							<tr>
								<td><b>First name</b></td>
								<td><%= @user.first_name %></td>
							</tr>
							<tr>
								<td><b>Last name</b></td>
								<td><%= @user.last_name %></td>
							</tr>
							<tr>
								<td><b>Last log in at</b></td>
								<td><%= @user.last_sign_in_at %></td>
							</tr>
							<tr>
								<td><b>Tags</b></td>
								<td><%= @user.tag_list %></td>
							</tr>
							<% MtAccountUsers.mt_account_users_extra_show_details.each do |item| %>
							<tr>
								<td><b><%= item["label"] %></b></td>
								<td><%= @user.send(item["attribute"]) %></td>
							</tr>	
							<% end %>
							<tr>
								<td><b>Created at</b></td>
								<td><%= @user.created_at %></td>
							</tr>
							<tr>
								<td><b>Created by</b></td>
								<td><%= @user.created_by %></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>