<% content_for :page_title do %>
	<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<% end %>

<% content_for :subnav_section do %>
	<ol class="breadcrumb breadcrumb-modern">
		<li><%= link_to 'Users', users_path %></li>
		<li class="active"><%= link_to "Import", import_new_users_path %></li>
	</ol>
<% end %>

<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <ol class="breadcrumb navbar-subnav-breadcrumb left-15 visible-xs-block">
			  <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to "Import", import_new_users_path %></li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><%= link_to "Users", users_path %></li>
			  <li><%= link_to "Import", import_new_users_path %></li>
		  </ol>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-modern">
			<div class="panel-heading">
				<h3 class="panel-title">CSV import file format</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr><th>email*</th><th>first_name*</th><th>last_name*</th></tr>
					</thead>
					<tbody>
						<tr><td>mhunter3@company.com</td><td>Martha</td><td>Hunter</td></tr>
						<tr><td>jwelch0@company.com</td><td>Jerry</td><td>Welch</td></tr>
						<tr><td>jfoster1@company.com</td><td>Jason</td><td>Foster</td></tr>
						<tr><td>kfowler2@company.com</td><td>Kathryn</td><td>Fowler</td></tr>
						<tr><td>jmyers4@company.com</td><td>Joshua</td><td>Myers</td></tr>
					</tbody>
				</table>

				<small>
				<ol class="padding-left-15">
					<li>* required fields</li>
					<li>First row of CSV file must be a header</li>
				</or>
				</small>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-modern">
			<div class="panel-heading">
				<h3 class="panel-title">Import user using CSV</h3>
			</div>
			<%= form_tag(import_users_path, method: "post", multipart: true, class: "form-modern") do %>
				<div class="panel-body">
					<% if @import_error_messages %>
						<div class="alert alert-danger" role="alert">
							<ul><% @import_error_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
						</div>
					<% end %>
					<div class="form-group">
						<%= label_tag(:users_csv, "CSV file") %>
						<%= file_field_tag :users_csv %>
					</div>
					<div class="form-group">
						<%= label_tag(:password, "Default password") %> 
						<%= text_field_tag(:password, nil, class: "form-control") %>
						<span class="help-block">All users in this import will be assigned with this password.</span>
					</div>
					<div class="form-group">
						<%= label_tag(:tag_list, "Default tags") %>
						<%= text_field_tag(:tag_list, nil, class: "form-control tags-tokenfield", placeholder: "Type something and hit enter") %>
					</div>
				</div>
				<div class="panel-footer text-right">
					<%= button_tag "Import", class: "btn btn-submit btn-sm", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> Processing..."} %>
					<%= link_to 'Cancel', users_path, class: "btn btn-cancel btn-sm" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
