<% content_for :page_title do %>
	<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<% end %>

<% content_for :subnav_section do %>
	<ol class="breadcrumb breadcrumb-modern">
		<li><%= link_to 'Users', users_path %></li>
		<li class="active">Import summary</li>
	</ol>
<% end %>

<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <ol class="breadcrumb navbar-subnav-breadcrumb left-15 visible-xs-block">
			  <li><%= link_to "Users", users_path %></li>
			  <li>Import summary</li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><%= link_to "Users", users_path %></li>
			  <li>Import summary</li>
		  </ol>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-modern">
			<div class="panel-heading">
				<h3 class="panel-title">Users import summary</h3>
			</div>
			<div class="panel-body">
				<h5>Number of users created: <span class="text-success"><%= @success_import_count %></span></h5>
				<% if @failed_import_count > 0 %>
					<h5>Number of errors (please look at the table below for more details): <span class="text-error"><%= @failed_import_count %></span></h5>
					<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr><th>Failed rows</th><th>Error details</th></tr>
						</thead>
						<tbody>
							<% @import_error_messages.each do |error| %>
								<tr><td><b><%= error[0] %></b></td>
								<td><%= error[1].join(", ") %></td></tr>
							<% end %>
						</tbody>
					</table>
					</div>
				<% end %>
				<%= link_to "Back to users list", mt_account_users.users_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
